{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
         <img src="{% static 'life/images/hospital_image.jpg' %}">
        </div>
        <br>
        <div class="col-md-4">
          <div class="contact-address">
            <h5>Contact Information:</h5>
            <ul>
              <li> <span class="icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></span> <span
                  class="add-text">BHU Road, Lanka<br>
                  Life Building,<br>
                  Varanasi</span> </li>
              <li> <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i> </span> <span class="add-text">
                  +91 9876 5433<br>
                  +91 6589 9874</span> </li>
              <li> <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i> </span> <span
                  class="add-text"><strong>For Inquiry:</strong> info@life.com</span> </li>
              <li> <span class="icon"><i class="fa fa-globe" aria-hidden="true"></i> </span> <span
                  class="add-text"><strong>Website:</strong> www.life.com </span> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Main Content End-->
{% endblock maincontent %}