{% extends 'base.html' %}
{% block maincontent %}
<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>{{ department.name }}</h1>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content">
  <div class="service-details">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="ser-content">
            <div class="row">
              <div class="col-md-12">
                <div class="ser-thumb"> <img src="{{ department.picture_big.url }}" alt=""> </div>
                <p>{{ department.desc }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-nav">
            <h3>List Of Doctors</h3>
            <ul class="side-nav">
              {% for doctor in doctors %}
              <li>
                <div class="row">
                  
                  <div class="doctor-name col-md-6"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ doctor.name }} </div>
                  <div class="doctor-designation col-md-6">{{ doctor.designation }} </div>
                </div>
              </li>
              {% endfor %}
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Main Content End-->
{% endblock maincontent %}