{% extends 'base.html' %}

{% block maincontent %}

<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Faq’s</h1>
      </div>
      
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content">
  <section class="faqs">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                    data-parent="#accordion" href="#collapse1" aria-expanded="false"
                    aria-controls="collapse1">
                    How much you charge for consultancy</a></h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel"
                aria-labelledby="heading1">
                <div class="panel-body">Enhanced rates for OPD Slip and admission charges in the hospital is Rs 200/- and Rs 500/- respectively will be effective from 3rd February 2010 at 8.00 AM. Further, it is also informed that there will be different categories of OPD Slips for modern Medicine and Indian Medicine i.e. black colour for Modern Medicine and blue colour for Indian Medicine Wing. It will be bearing pages (2 leaflets ). Futhur , is is also notified that OPD slip meant for Indian Medicine Wing will not be valid for Modern Medicine & Vice Versa</div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                    data-parent="#accordion" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    What are the quality standards you abide by?</a></h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel"
                aria-labelledby="heading2">
                <div class="panel-body">Life-Care as an institution stands for safe and quality patient care provided by the best clinicians supported by world class technology and infrastructure. Life-Care is accredited by the US, Joint Commission International (JCI), the highest accreditation for quality healthcare. It has also received accreditation from National Accredition Board for Hospitals & Healthcare Providers, and National Accredition Board for Testing and Calibration Laboratories.</div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                    data-parent="#accordion" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    What training and licensing do nurses and lab technicians receive?</a></h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                aria-labelledby="heading3">
                <div class="panel-body">Life hires the best pool of nurses, pharmacists and technicians. At Life, they receive theory sessions of 40 hours and practical sessions of 40 hours in the time span of a month. Once the training is completed, they work under supervision for 15 days and are then assessed on the basis of their performance. If all the qualifying criteria are met, they are permitted to work independently.</div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                    data-parent="#accordion" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    What are the risks associated with the procedure of laser Heart?</a></h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                aria-labelledby="heading4">
                <div class="panel-body">Each reconstructive surgery has its own risks which depend on the type of procedures & health status of the patient prior to the procedure. Risk of a post-op infection is common in all procedures.</div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading5">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                    data-parent="#accordion" href="#collapse5" aria-expanded="false"
                    aria-controls="collapse5">
                    What all should I carry for my first appointment?</a></h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpanel"
                aria-labelledby="heading5">
                <div class="panel-body">Please bring a responsible attendant and all your health related and medication related documents. Please also indicate if you have any allergies</div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading6">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                    data-parent="#accordion" href="#collapse6" aria-expanded="false"
                    aria-controls="collapse6">
                    What are the techniques you use for different procedures?</a></h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse" role="tabpanel"
                aria-labelledby="heading6">
                <div class="panel-body">Nephrologist use oral and IV medications; Ultrasound Guided Biopsies/ aspirations. Nephrologists use Hemodialysis/Plasmapheresis/CRRT/Peritoneal Dialysis to manage ESKD/AKI patients. Depending on the underlying cause, there are different procedures with different techniques. </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>
  </section>
</div>
<!--Main Content End-->
{% endblock maincontent %}