{% extends 'base.html' %}

{% block maincontent %}
<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Gallery</h1>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content">
  <div class="gallery">
    <div class="container">
      <div class="row">
        <ul class="gallery-img">
          

          <li class="col-md-4 col-sm-4">
            <div class="gallery-thumb">
              <div class="hover-info"> <strong>Gallery Collection</strong> <a href="/media/gallery/gallery-small-1.jpg"
                  data-rel="prettyPhoto[gallery]"><i class="fa fa-search-plus" aria-hidden="true"></i></a> </div>
              <img src="/media/gallery/gallery-small-1.jpg" alt="">
            </div>
          </li>
          
          
          <li class="col-md-4 col-sm-4">
            <div class="gallery-thumb">
              <div class="hover-info"> <strong>Gallery Collection</strong> <a href="/media/gallery/gallery-small-3.jpg"
                  data-rel="prettyPhoto[gallery]"><i class="fa fa-search-plus" aria-hidden="true"></i></a> </div>
              <img src="/media/gallery/gallery-small-3.jpg" alt="">
            </div>
          </li>
          
          <li class="col-md-4 col-sm-4">
            <div class="gallery-thumb">
              <div class="hover-info"> <strong>Gallery Collection</strong> <a href="/media/gallery/gallery-small-4.jpg"
                  data-rel="prettyPhoto[gallery]"><i class="fa fa-search-plus" aria-hidden="true"></i></a> </div>
              <img src="/media/gallery/gallery-small-4.jpg" alt="">
            </div>
          </li>
          
          <li class="col-md-4 col-sm-4">
            <div class="gallery-thumb">
              <div class="hover-info"> <strong>Gallery Collection</strong> <a href="/media/gallery/gallery-small-5.jpg"
                  data-rel="prettyPhoto[gallery]"><i class="fa fa-search-plus" aria-hidden="true"></i></a> </div>
              <img src="/media/gallery/gallery-small-5.jpg" alt="">
            </div>
          </li>
          
          
          <li class="col-md-4 col-sm-4">
            <div class="gallery-thumb">
              <div class="hover-info"> <strong>Gallery Collection</strong> <a href="/media/gallery/gallery-small-7.jpg"
                  data-rel="prettyPhoto[gallery]"><i class="fa fa-search-plus" aria-hidden="true"></i></a> </div>
              <img src="/media/gallery/gallery-small-7.jpg" alt="">
            </div>
          </li>
             

          <li class="col-md-4 col-sm-4">
            <div class="gallery-thumb">
              <div class="hover-info"> <strong>Gallery Collection</strong> <a href="/media/gallery/gallery-small-9.jpg"
                  data-rel="prettyPhoto[gallery]"><i class="fa fa-search-plus" aria-hidden="true"></i></a> </div>
              <img src="/media/gallery/gallery-small-9.jpg" alt="">
            </div>
          </li>


        </ul>
      </div>
    </div>
  </div>
</div>
<!--Main Content End-->
{% endblock maincontent %}