{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Register</h1>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content padding-12">
  <section class="appointment-form">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-3" >
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="app-form">
              <div class="col-md-6 col-sm-6">
              {{form.as_p}} 
              <div class="form-group row">
                <div class="col-sm-8 col-sm-offset-4 p-t-lg p-b-lg">
                  <input type="submit" class="btn btn-primary" value='Sign in'></input>
                </div>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock maincontent %}
<!--Main Content End-->